.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 20%;
}

.boton {
    background-color: black;
    color: floralwhite;
    padding: 10px 20px;
    margin-right: 5px;
    border: black solid 3px;
}

.font-class {
    font-family: inherit;
    font-size: large;
}

.boton-container {
    text-align: left;
    flex: 100%;
    margin: 5px;
}

.App-header {
    padding: 0 2%;
    text-align: left;
    color: black;
    border-bottom: black solid 3px;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        text-align: left;
    }
    .App-header {
        text-align: center;
      }
}
